.ingredients-list-container {
    height: 24rem;
    overflow-y: auto;
    padding: 0.75rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
}

.ingredients-section-container {
    height: 6rem;
    overflow-y: auto;
    padding: 0.75rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
}

.section-title-md {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.sections-container {
    display: grid;
    row-gap: 0.75rem;
}

.ingredient-list {
    display: grid;
    row-gap: 0.5rem;
}

.ingredient-list-item {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    color: #374151;
}

.ingredient-name {
    justify-self: start;
}

.ingredient-expiry {
    justify-self: center;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.ingredient-quantity-with-unit {
    justify-self: end;
}
