.commercial {
  background: #8fc48f;
  color: #fff;
  border-radius: 12px;
  padding: 36px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.commercial .subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin: 0;
}

.commercial .title {
  font-size: 30px;
  line-height: 1.4;
  margin: 10px 0 16px;
  font-weight: 800;
  max-width: 95%;
}

.commercial .desc {
  font-size: 15px;
  opacity: 0.9;
  margin: 0 0 24px;
  line-height: 1.6;
}



/* ✅ 이미지 비율 유지 + 동일 크기 */
.poster-img {
  width: 85%;          /* 부모 크기에 딱 맞게 */
  height: 85%;
  object-fit: cover;    /* 이미지 비율 유지하면서 채우기 */
  object-position: center;
  transform: translateX(20px);      
  
}

/* ✅ 반응형에서 동일 비율 유지 */
@media (max-width: 920px) {
  .poster {
    width: 160px;
    height: 200px;
  }
}
