
.upload-box {
  width: 100%;
  height: 180px;
  background-color: #f7f7f7;              
  border: 1px solid var(--color-border);  
  border-radius: 12px;                  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}


.upload-box:hover {
  background-color: #efefef; 
}


.upload-icon {
  font-size: 32px;
  color: var(--color-muted);
  margin-bottom: 8px;
}


.upload-text {
  font-size: 14px;
  color: var(--color-text);
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  border-radius: 12px;     
}

.upload-preview-auto {
  width: 100%;
  max-height: 400px;    
  height: auto;
  object-fit: contain;  
  border-radius: 12px;
}

.upload-box.dynamic {
  height: auto;               
  padding: 16px;              
}

.upload-container {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}