.recipe-card {
   width: 240px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

.recipe-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
}

/* 이미지 영역 */
.recipe-card-img {
  position: relative;
  width: 100%;
  height: 190px;
  background: #e1e1e1;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.placeholder-img {
  width: 100%;
  height: 100%;
  background: #dcdcdc;
}

/* Django 이미지 */
.recipe-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 별 아이콘 */
.favorite-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
  cursor: pointer;
}

/* 텍스트 영역 */
.recipe-card-info {
  background: #fff;
  padding: 12px;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

.recipe-name {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.recipe-ingredients {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.recipe-card {
  width: 220px; /* 기존: 180px */
}

.recipe-card-img {
  height: 170px; /* 기존: 140px */
}

.search-bar {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}