.recipe-category-wrapper {
  margin-bottom: 70px;
}

.category-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.recipe-grid {
  display: grid;
  grid-auto-flow: column;      
  grid-auto-columns: 250px;    
  gap: 60px;
  overflow-x: auto;           
  padding-bottom: 10px;        
}

.recipe-grid::-webkit-scrollbar {
  height: 8px;
}

.recipe-grid::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.no-result {
  font-size: 14px;
  color: #888;
}