.recipe-list-container {
  padding-top: 130px; 
   padding-left: 30px;
  padding-right: 30px;
  max-width: 1600px;
  margin: 0 auto; 
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  width: 300px;
  padding: 10px 36px 10px 14px;
  border-radius: 999px;
  border: 1px solid #ddd;
  background: #f4f4f4;
  font-size: 14px;
  outline: none;
}

.search-bar input:focus {
  border-color: #79AC78; 
}

.search-bar .search-icon {
  position: relative;
  left: -28px;
  top: 12px;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}