

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #79ac78;
  --color-primary-hover: #6ba56a;

  --color-danger: #dc2626;
  --color-danger-hover: #b91c1c;

  --color-graybtn: #e0e0e0;
  --color-border: #e5e7eb;

  --color-text: #2e2a24;
  --color-muted: #6e6658;

  --color-bg: #f4eddd;
  --color-surface: #fdfbf2;
}


html, body {
  font-family: 'Pretendard', 'ui-sans-serif', 'system-ui';
  background-color: #fff;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}


.font-title {
  font-family: 'SUIT', 'Pretendard', 'sans-serif';
}

.font-ui {
  font-family: 'Inter', 'system-ui', 'sans-serif';
}


@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.4;
  }

  button {
    cursor: pointer;
    transition: all 0.2s ease;
  }

  input, textarea {
    font-family: inherit;
    border-radius: 6px;
  }
}
